@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 1, 1, 1;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}
/* globals.css */
body {
  background-color: #f3f4f6;
  color: #1f2937;
  transition: background-color 0.3s, color 0.3s;
}

body.dark {
  background-color: #1f2937;
  color: #f3f4f6;
}
